/* 
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

/* Hides the content area until we are ready to display after paddings have been adjusted. 
    oj-complete is a marker class that is applied by the appController 
    after adjusting the content area. */
.oj-applayout-content:not(.oj-complete) {
  visibility: hidden;
}

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.oj-hybrid-applayout-header {
  background-color: #ccc6ad !important;
}

.oj-required-inline-container,.oj-user-assistance-inline-container {
  display: none !important;
}

.oj-navigationlist-item-element {
  margin-right: unset !important;
}

.oj-navigationlist-item-icon {
  padding-top: 5px;
}

.campo {
  padding-bottom: 10px;
  width: 100%;
}

#dialogoNuevoAlumno {
  width: 95%;
  max-width: none;
}

#encabezadoSincronizacion {
  position: relative;
  width: 100%;
}

.elementosSincronizacion {
  vertical-align: middle;
}

.medida {
  position: absolute;
  right: 0px;
  display: contents;
}

#header-icon{
  display: flex;
  height: 30px;  
  padding-right: 10px;
  width: 30px;
}

#header-text {
  color: white; 
}

.header-container{
  width: 100%;
}

.medida-alineacion {
  text-align: right;
}

#botonConfiguracion {
  height: 30px;
  width: 30px;
}

#botonConfiguracion > button {
  background-color: #ccc6ad;
  border: none;
  box-shadow: none;
}

#switchSincronizacion {
  position: absolute;
  right: 0px;
}

#valor-mediana {  
  width: -webkit-fill-available;
  display: inline-block;
  text-align: right;
  padding-right: 1rem;
}